<configuration>
    <property name="LOG_DIR" value="/sdcard/logback"/>

    <!-- Create a logcat appender -->
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>[%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">-->
        <!--<cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">-->
            <!--&lt;!&ndash; send 10 log entries per email &ndash;&gt;-->
            <!--<bufferSize>1000</bufferSize>-->
        <!--</cyclicBufferTracker>-->
        <!--<smtpHost>smtp.163.com</smtpHost>-->
        <!--<smtpPort>465</smtpPort>-->
        <!--<SSL>true</SSL>-->
        <!--<username>review_site@163.com</username>-->
        <!--<password></password>-->
        <!--<to></to>-->
        <!--<from>review_site@163.com</from>-->
        <!--<subject>%date{yyyyMMdd'T'HH:mm:ss.SSS}; %msg%n</subject>-->
        <!--<layout class="ch.qos.logback.classic.html.HTMLLayout"/>-->
    <!--</appender>-->

    <appender name="FILE_TIME" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- active log file -->
        <file>${LOG_DIR}/time_log.today.txt</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover period -->
            <fileNamePattern>${LOG_DIR}/time_log.%d.txt</fileNamePattern>

            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- active log file -->
        <file>${LOG_DIR}/log.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover period -->
            <fileNamePattern>${LOG_DIR}/log.%d.txt</fileNamePattern>

            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="proto.time" level="DEBUG">
        <!--<appender-ref ref="EMAIL"/>-->
        <appender-ref ref="FILE_TIME"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="LOGCAT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>